div.groupdiv{
    margin: auto 0.4rem auto 0.8rem;
    justify-content: center;
    padding: 0.4rem
}

i.adminbutton{
    margin: 0.5rem;
    padding: 0.4rem;
    background: #003D66;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 4px 2px thistle;
    cursor: pointer;

}

@media screen and (max-width: 1024px){
    i.adminbutton{
        margin: 0.5rem;
        padding: 0.4rem;
        background: #003D66;
        border-radius: 0.2rem;
        box-shadow: 2px 2px 4px 2px thistle;
        cursor: pointer;

    }
}

@media screen and (max-width: 740px){
    .groupdiv{
        margin: auto 0.4rem auto 1rem;
        padding: 0.4rem
    }
    i.adminbutton{
        margin: 0.5rem;
        padding: 0.4rem;
        background: #003D66;
        border-radius: 0.2rem;
        box-shadow: 2px 2px 4px 2px thistle;
        cursor: pointer;

    }
}
@media screen and (max-width: 480px){
    div.groupdiv{
        margin: auto 0.4rem auto 0.8rem;
        padding: 0.4rem
    }
    i.adminbutton{
        margin: 0.5rem;
        padding: 0.4rem;
        font-size: 1.1rem;
        background: #003D66;
        border-radius: 0.2rem;
        box-shadow: 2px 2px 4px 2px thistle;
        cursor: pointer;

    }
}

@media screen and (max-width: 380px){
    i.adminbutton{
        margin: 0.5rem;
        padding: 0.4rem;
        background: #003D66;
        border-radius: 0.2rem;
        box-shadow: 2px 2px 4px 2px thistle;
        cursor: pointer;

    }
}