body{
    background: #003D66;
    color: #FCFCFC;
    font-family: "Courier New", Courier, monospace;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

main{
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maincontent{
    background-color: rgba(13, 47, 70, 0.473);
    height: 80%;
    width: 100%;
    padding: 10px;
    margin: auto;
    display: block;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    position: relative;
}

#maincontent h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 25px;
    font-weight: 800;
    font-size: 54px;
    height: 34px;
}

.mainfooter{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 5px;
    text-transform: uppercase;
    font-size: 24px;
}

.button{
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 65%;
    height: 78px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 700;
    background-color: rgba(13, 47, 70, 0.473);
    color: #FCFCFC;
    cursor: pointer;
    outline: unset;
}

@media screen and (max-width: 780){
    body{
        background: #003D66;
        color: #FCFCFC;
        font-family: "Courier New", Courier, monospace;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    
    main{
        width: 80vw;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #maincontent{
        background-color: rgba(13, 47, 70, 0.473);
        height: 50%;
        width: 100%;
        padding: 10px;
        margin: auto;
        display: block;
        align-items: center;
        border-radius: 8px;
        justify-content: center;
        position: relative;
    }
    
    #maincontent h1{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        line-height: 16px;
        height: 34px;
    }
    
    .mainfooter{
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: center;
        margin: 5px;
        text-transform: uppercase;
        font-size: 24px;
    }
    
    .button{
        align-items: center;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        width: 140px;
        display: block;
        margin: 10px auto;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        background-color: rgba(13, 47, 70, 0.473);
        color: #FCFCFC;
        cursor: pointer;
        outline: unset;
    }
}

@media screen and (max-width:480px){
    .mainfooter{
        position: absolute;
        bottom: 0;
        left: auto;
        margin: auto 25px;
        width: 80%;
    }

    .button{
        margin: 30px auto;
    }

    #maincontent h1 {
        font-size: 35px;
        margin: 30px auto;
    }
}

@media screen and (max-width:380px){
    body{
        background: #003D66;
        color: #FCFCFC;
        font-family: "Courier New", Courier, monospace;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    
    main{
        width: 80vw;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #maincontent{
        background-color: rgba(13, 47, 70, 0.473);
        height: 50%;
        width: 100%;
        padding: 10px;
        margin: auto;
        display: block;
        align-items: center;
        border-radius: 8px;
        justify-content: center;
        position: relative;
    }
    
    #maincontent h1{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        line-height: 16px;
        font-size: 25px;
        height: 34px;
    }
    
    .mainfooter{
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: center;
        margin: 5px;
        text-transform: uppercase;
        font-size: 24px;
    }
    
    .button{
        align-items: center;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        width: 140px;
        display: block;
        margin: 10px auto;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        background-color: rgba(13, 47, 70, 0.473);
        color: #FCFCFC;
        cursor: pointer;
        outline: unset;
        height: unset;
    }
}