@media screen and (max-width: 1024px){
    div.container {
        width: 70%;
        height: calc(100vh + 90px);
    }
}

@media screen and (max-width: 780px){
    div.container {
        width: 70%;
        height: 95vh;
    }
}