#header{
    height: 80px;
}
.page-title{
    float: none;
}

.page-title h1 {
    border: none;
}

.main-banner{
    position: relative;
    color: #FCFCFC;
    display: block;
    font-size: 20px;
}
.chat{
    display: block;
    float: right;
    width: 80%;
    height: 100%;
}
.chat .open{
    display: unset;
}
.chatarea{
    clear: both;
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 15px;
}
.chatwrapper{
    position: relative;
    height: 100%;
}
.chatarea textarea{
    color: #FCFCFC;
    height: 40px;
    width: 80%;
    padding: 5px;
    border-radius: 4px;
    background: rgba(13, 47, 70, 0.473);
    outline: unset;
    font-size: 16px;
    margin-left: 5px;
}
.chatarea i {
    color: #003D66;
    font-weight: 900;
    font-size: 30px;
}
div.sent{
    width: 70%;
    float: right;
    border-radius: 4px;
    background: rgba(13, 47, 80, 0.473);
    padding: 5px;
    margin: 5px;
    border: 1px solid #FCFCFC;

}
div.receive{
    width: 70%;
    float: left;
    background: rgba(13, 47, 80, 0.473);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #FCFCFC;
}
.page-title{
    text-align: center;
    justify-content: center;
    display: flex;
}
#mailformdiv{
    position: relative;
    display: block;
    background: #003D66;
}
form#mailform{
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    display: none;
    background: #003D66;
}
form#mailform.open{
    height: auto;
    display: block;
}
form#mailform input[type='text']{
    margin: 5px;
    padding: 10px;
    background: rgba(13, 47, 70, 0.473);
    width: 80%;
    color: #FCFCFC;
    font-size: 20px;
    outline: unset;
}

form#mailform input[type='button']{
    margin: 5px;
    padding: 10px;
    background: rgba(13, 47, 70, 0.473);
    border-radius: 8px;
    width: 40%;
    color: #FCFCFC;
    font-size: 20px;
    outline: unset;
}

textarea#mailcontent{
    margin: 5px;
    padding: 10px;
    background: rgba(13, 47, 70, 0.473);
    width: 80%;
    color: #FCFCFC;
    font-size: 20px;
    outline: unset;
    height: 170px;
    justify-content: left;
    text-align: justify;
}
.main-banner{
    padding: 0;
}
.usermenu{
    float: left;
    border: none;
    width: 20%;
    color: #FCFCFC;
}
.usermenu ul{    
    display: block;
    background: #003D66;
    width: 100%;
    margin: 0;
    padding: 0;
    height: calc(100vh - 80px);
}

.usermenu ul li{
    list-style: none;
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 25px;
    border-top: #FCFCFC solid 3px;
}

div.userheader{
    display: none;
    color: #FCFCFC;
    height: 35px;
    background: rgba(13, 47, 70, 0.473);
    margin: 0;
    padding: 10px;
    position: relative;
}
#composeicon{
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 30px;
}
#mailicon{
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 30px;
}
.userheader p{
    margin: 0;
    padding: 0;
}
div.usermail{
    color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-content: center;
    float: right;
    width: 80%;
}
.usermail ul{
    margin: 0;
    padding: 0;
    width: 100%;        
}
.maillist{
    background-color: rgba(13, 47, 70, 0.473);
    list-style: none;
    border-bottom: solid 1px #FCFCFC;
    border-top: solid 1px #FCFCFC;      
    padding: 10px;
    height: 45px;
    margin: 0;
}

.senderid{
    font-size: 20px;
}
.mailsubject{
    font-size: 24px;
}


.page-title {
    float: left;
    padding: 0.5rem;
}

.page-nav{
    float: right;
    padding: 0 20px 0 0;
    margin: 0;
    color: #FCFCFC;
}

.main-banner{
    height: calc(100vh - 80px);;
}

aside.container{
    height: calc(100vh - 350px);
}    
div.container {
    float: left;
    width: 60%;
    margin: 25px 0 0 25px;
    height: 80%;
}
.transparent{
    height: unset;
}
div.container ul{
    margin: auto;
    width: 80%;
    padding: 0;
}
div.container ul li{
    list-style: none;
    height: 2.7rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 4px 2px thistle;
    background: #003D66;
    padding: 0.8rem;
    margin: 1rem auto;
    width: 80%;
    text-align: center;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;

}
p.main-content {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.3rem;
    text-align: center;
}
a.main-content {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.3rem;
    text-align: center;
}
h1.main-content {
    text-align: center;
}
@media screen and (max-width:1024px){
    #header{
        height: auto;
    }
    .page-title{
        float: none;
    }
    .main-banner{
        position: relative;
        color: #FCFCFC;
    }
    .chat{
        display: block;
        position: absolute;
        bottom: 70px;
    }
    .chat .open{
        display: unset;
    }
    .chatarea{
        width: 100%;
        margin: 5px;
    }
    .chatarea input{
        color: #FCFCFC;
        height: 30px;
        width: 80%;
        padding: 5px;
        border-radius: 4px;
        background: rgba(13, 47, 70, 0.473);
        outline: unset;
    }
    .chatarea i {
        color: #003D66;
    }
    div.sent{
        width: 70%;
        float: right;
        border-radius: 4px;
        background: rgba(13, 47, 80, 0.473);
        padding: 5px;
        margin: 2px;
        border: 1px solid #FCFCFC;

    }
    div.receive{
        width: 70%;
        float: left;
        background: rgba(13, 47, 80, 0.473);
        border-radius: 4px;
        padding: 5px;
        margin: 2px;
        border: 1px solid #FCFCFC;
    }
    .page-title{
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #mailformdiv{
        position: relative;
        display: block;
        background: #003D66;
    }
    form#mailform{
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        display: none;
        background: #003D66;
    }
    form#mailform.open{
        height: auto;
        display: block;
        z-index: 3;
    }
    form#mailform input[type='text']{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        width: 80%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
    }

    form#mailform input[type='button']{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        border-radius: 8px;
        width: 40%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
    }

    textarea#mailcontent{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        width: 80%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
        height: 170px;
        justify-content: left;
        text-align: justify;
    }
    .main-banner{
        padding: 0;
    }
    .usermenu{
        position: relative;
        border: none;
        width: unset;
        color: #FCFCFC;
    }
    .usermenu ul{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: #003D66;
        margin: 0;
        height: 0;
        padding: 0;
    }

    .usermenu ul.open{
        width: 50%;
        display: block;
        height: calc(100vh - 55px);
        z-index: 3;
    }

    .usermenu ul li{
        list-style: none;
        display: block;
        margin: 0;
        padding: 10px;
        font-size: 25px;
        border: #FCFCFC solid 3px;
        border-radius: 16px;
    }

    div.userheader{
        color: #FCFCFC;
        height: 35px;
        background: rgba(13, 47, 70, 0.473);
        margin: 0;
        padding: 10px;
        position: relative;
    }
    #composeicon{
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 30px;
    }
    #mailicon{
        position: absolute;
        left: 15px;
        top: 5px;
        font-size: 30px;
    }
    .userheader p{
        margin: 0;
        padding: 0;
    }
    div.usermail{
        color: #FCFCFC;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100vw;
    }
    .usermail ul{
        margin: 0;
        padding: 0;
        width: 100%;        
    }
    .maillist{
        background-color: rgba(13, 47, 70, 0.473);
        list-style: none;
        border-bottom: solid 1px #FCFCFC;
        border-top: solid 1px #FCFCFC;      
        padding: 10px;
        height: 45px;
        margin: 0;
    }

    .senderid{
        font-size: 20px;
    }
    .mailsubject{
        font-size: 24px;
    }
    .page-nav{
        float: right;
        padding: 0;
        margin: 0;
        color: #FCFCFC;
    }
    .page-nav ul{
        padding: 0;
    }
    aside.container{
        height: calc(100vh - 350px);
    }    
    div.container {
        float: left;
        width: 60%;
        margin: 25px 0 0 25px;
        height: 80%;
    }
    .transparent{
        height: unset;
    }
    div.container ul{
        margin: auto;
        width: 50%;
        padding: 0;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        box-shadow: 2px 2px 4px 2px thistle;
        background: #003D66;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 14rem;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 1.3rem;
        margin: 0.5rem;
        padding: 0.3rem;
        text-align: center;
    }
    a.main-content {
        font-size: 1.4rem;
        text-align: center;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:740px){
    #header{
        height: auto;
    }
    .page-title{
        float: none;
    }
    #header {
        height: auto;
    }
    .main-banner{
        position: relative;
        color: #FCFCFC;
    }
    .chat{
        display: block;
        position: absolute;
        bottom: 70px;
    }
    .chat .open{
        display: unset;
    }
    .chatarea{
        width: 100%;
        margin: 0;
    }
    .chatarea input{
        color: #FCFCFC;
        height: 30px;
        width: 80%;
        padding: 5px;
        border-radius: 4px;
        background: rgba(13, 47, 70, 0.473);
        outline: unset;
    }
    .chatarea i {
        color: #003D66;
    }
    div.sent{
        width: 70%;
        float: right;
        border-radius: 4px;
        background: rgba(13, 47, 80, 0.473);
        padding: 5px;
        margin: 2px;
        border: 1px solid #FCFCFC;

    }
    div.receive{
        width: 70%;
        float: left;
        background: rgba(13, 47, 80, 0.473);
        border-radius: 4px;
        padding: 5px;
        margin: 2px;
        border: 1px solid #FCFCFC;
    }
    .page-title{
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #mailformdiv{
        position: relative;
        display: block;
        background: #003D66;
    }
    form#mailform{
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        display: none;
        background: #003D66;
    }
    form#mailform.open{
        height: auto;
        display: block;
    }
    form#mailform input[type='text']{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        width: 80%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
    }

    form#mailform input[type='button']{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        border-radius: 8px;
        width: 40%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
    }

    textarea#mailcontent{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        width: 80%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
        height: 170px;
        justify-content: left;
        text-align: justify;
    }
    .main-banner{
        padding: 0;
    }
    .usermenu{
        position: relative;
        border: none;
        width: unset;
        color: #FCFCFC;
    }
    .usermenu ul{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: #003D66;
        margin: 0;
        height: 0;
        padding: 0;
    }

    .usermenu ul.open{
        width: 80%;
        display: block;
        height: calc(100vh - 55px);
    }

    .usermenu ul li{
        list-style: none;
        display: block;
        margin: 0;
        padding: 10px;
        font-size: 25px;
        border-top: #FCFCFC solid 3px;
    }

    div.userheader{
        color: #FCFCFC;
        height: 35px;
        background: rgba(13, 47, 70, 0.473);
        margin: 0;
        padding: 10px;
        position: relative;
    }
    #composeicon{
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 30px;
    }
    #mailicon{
        position: absolute;
        left: 15px;
        top: 5px;
        font-size: 30px;
    }
    .userheader p{
        margin: 0;
        padding: 0;
    }
    div.usermail{
        color: #FCFCFC;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100vw;
    }
    .usermail ul{
        margin: 0;
        padding: 0;
        width: 100%;        
    }
    .maillist{
        background-color: rgba(13, 47, 70, 0.473);
        list-style: none;
        border-bottom: solid 1px #FCFCFC;
        border-top: solid 1px #FCFCFC;      
        padding: 10px;
        height: 45px;
        margin: 0;
    }

    .senderid{
        font-size: 20px;
    }
    .mailsubject{
        font-size: 24px;
    }
    
    aside.container{
        height: unset;
    }
    div.container {
        float: left;
        width: 60%;
        margin: 25px 0 0 25px;
        height: 80%;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        background: #003D66;
        box-shadow: 2px 2px 4px 2px thistle;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 14rem;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    a.main-content {
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem auto;
        padding: 0.4rem;
        width: 50%;
        font-weight: 600;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:480px){
    .main-banner{
        position: relative;
        color: #FCFCFC;
    }
    .chat{
        display: block;
        position: absolute;
        bottom: 70px;
    }
    .chat .open{
        display: unset;
    }
    .chatarea{
        width: 100%;
        margin: 5px;
    }
    .chatarea input{
        color: #FCFCFC;
        height: 30px;
        width: 80%;
        padding: 5px;
        border-radius: 4px;
        background: rgba(13, 47, 70, 0.473);
        outline: unset;
    }
    .chatarea i {
        color: #003D66;
    }
    div.sent{
        width: 70%;
        float: right;
        border-radius: 4px;
        background: rgba(13, 47, 80, 0.473);
        padding: 5px;
        margin: 2px;
        border: 1px solid #FCFCFC;

    }
    div.receive{
        width: 70%;
        float: left;
        background: rgba(13, 47, 80, 0.473);
        border-radius: 4px;
        padding: 5px;
        margin: 2px;
        border: 1px solid #FCFCFC;
    }
    .page-title{
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #mailformdiv{
        position: relative;
        display: block;
        background: #003D66;
    }
    form#mailform{
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        display: none;
        background: #003D66;
    }
    form#mailform.open{
        height: auto;
        display: block;
    }
    form#mailform input[type='text']{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        width: 80%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
    }

    form#mailform input[type='button']{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        border-radius: 8px;
        width: 40%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
    }

    textarea#mailcontent{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        width: 80%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
        height: 170px;
        justify-content: left;
        text-align: justify;
    }
    .main-banner{
        padding: 0;
    }
    .usermenu{
        position: relative;
        border: none;
        width: unset;
        color: #FCFCFC;
    }
    .usermenu ul{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: #003D66;
        margin: 0;
        height: 0;
        padding: 0;
    }

    .usermenu ul.open{
        width: 60%;
        display: block;
        height: calc(100vh - 55px);
    }

    .usermenu ul li{
        list-style: none;
        display: block;
        margin: 0;
        padding: 10px;
        font-size: 25px;
        border: #FCFCFC solid 3px;
        border-radius: 16px;
    }

    .usermenu ul li a{
        width: 100%;
        height: inherit;
    }
    div.userheader{
        color: #FCFCFC;
        height: 35px;
        background: rgba(13, 47, 70, 0.473);
        margin: 0;
        padding: 10px;
        position: relative;
    }
    #composeicon{
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 30px;
    }
    #mailicon{
        position: absolute;
        left: 15px;
        top: 5px;
        font-size: 30px;
    }
    .userheader p{
        margin: 0;
        padding: 0;
    }
    div.usermail{
        color: #FCFCFC;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100vw;
    }
    .usermail ul{
        margin: 0;
        padding: 0;
        width: 100%;        
    }
    .maillist{
        background-color: rgba(13, 47, 70, 0.473);
        list-style: none;
        border-bottom: solid 1px #FCFCFC;
        border-top: solid 1px #FCFCFC;      
        padding: 10px;
        height: 45px;
        margin: 0;
    }

    .senderid{
        font-size: 20px;
    }
    .mailsubject{
        font-size: 24px;
    }
    #header{
        height: auto;
    }
    .page-title{
        float: none;
    }
    .page-title h1{
        font-size: 1.5rem;
        margin: 0.3rem;
        width: unset;
        text-align: unset;
        padding: 5px;
    }
    aside.container{
        height: unset;
    }
    div.container {
        float: none;
        width: 80%;
        margin: 10px auto;
        height: 80%;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        background: #003D66;
        box-shadow: 2px 2px 4px 2px thistle;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 80%;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    a.main-content {
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem auto;
        padding: 0.4rem;
        width: 50%;
        font-weight: 600;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:380px){
    .main-banner{
        position: relative;
        color: #FCFCFC;
    }
    .chat{
        display: block;
    }
    .chat .open{
        display: unset;
    }
    .chatarea{
        width: 100%;
        margin: 5px;
    }
    .chatarea input{
        color: #FCFCFC;
        height: 30px;
        width: 80%;
        padding: 5px;
        border-radius: 4px;
        background: rgba(13, 47, 70, 0.473);
        outline: unset;
    }
    .chatarea i {
        color: #003D66;
    }
    div.sent{
        width: 70%;
        float: right;
        border-radius: 4px;
        background: rgba(13, 47, 80, 0.473);
        padding: 5px;
        margin: 2px;
        border: 1px solid #FCFCFC;

    }
    div.receive{
        width: 70%;
        float: left;
        background: rgba(13, 47, 80, 0.473);
        border-radius: 4px;
        padding: 5px;
        margin: 2px;
        border: 1px solid #FCFCFC;
    }
    .page-title{
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #mailformdiv{
        position: relative;
        display: block;
        background: #003D66;
    }
    form#mailform{
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        display: none;
        background: #003D66;
    }
    form#mailform.open{
        height: auto;
        display: block;
    }
    form#mailform input[type='text']{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        width: 80%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
    }

    form#mailform input[type='button']{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        border-radius: 8px;
        width: 40%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
    }

    textarea#mailcontent{
        margin: 5px;
        padding: 10px;
        background: rgba(13, 47, 70, 0.473);
        width: 80%;
        color: #FCFCFC;
        font-size: 20px;
        outline: unset;
        height: 170px;
        justify-content: left;
        text-align: justify;
    }
    .main-banner{
        padding: 0;
    }
    .usermenu{
        position: relative;
        border: none;
        width: unset;
        color: #FCFCFC;
    }
    .usermenu ul{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: #003D66;
        margin: 0;
        height: 0;
        padding: 0;
        z-index: 3;
    }

    .usermenu ul.open{
        width: 80%;
        display: block;
        height: calc(100vh - 55px);
    }

    .usermenu ul li{
        list-style: none;
        display: block;
        margin: 0;
        padding: 10px;
        font-size: 25px;
        border: #FCFCFC solid 3px;
        border-radius: 16px;
    }

    .usermenu ul li a{
        width: 100%;
        height: inherit;
    }

    div.userheader{
        display: block;
        color: #FCFCFC;
        height: 35px;
        background: rgba(13, 47, 70, 0.473);
        margin: 0;
        padding: 10px;
        position: relative;
    }
    #composeicon{
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 30px;
    }
    #mailicon{
        position: absolute;
        left: 15px;
        top: 5px;
        font-size: 30px;
    }
    .userheader p{
        margin: 0;
        padding: 0;
    }
    div.usermail{
        color: #FCFCFC;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100vw;
    }
    .usermail ul{
        margin: 0;
        padding: 0;
        width: 100%;        
    }
    .maillist{
        background-color: rgba(13, 47, 70, 0.473);
        list-style: none;
        border-bottom: solid 1px #FCFCFC;
        border-top: solid 1px #FCFCFC;      
        padding: 10px;
        height: 45px;
        margin: 0;
    }

    .senderid{
        font-size: 20px;
    }
    .mailsubject{
        font-size: 24px;
    }
    #header{
        height: 60px;
    }
    .page-title{
        float: none;
    }
    aside.container{
        height: unset;
    }    
    div.container {
        float: none;
        width: 80%;
        margin: 10px auto;
        height: 80%;
    }
    div.container ul {
        margin: 0.5rem;
        width: 90%;
        padding: 0.5rem;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        box-shadow: 2px 2px 4px 2px thistle;
        background: #003D66;
        padding: 0.6rem;
        margin: 0.6rem auto;
        width: 80%;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    a.main-content {
        font-size: 1rem;
        text-align: center;
        margin: 0.5rem auto;
        padding: 0.4rem;
        width: 50%;
        font-weight: 600;
    }
    h1.main-content {
        text-align: center;
    }
}