.page-title {
    float: left;
    padding: 0.5rem;
}

.page-nav{
    float: right;
    padding: 0 20px 0 0;
    margin: 0;
    color: #FCFCFC;
}

.main-banner{
    height: 100vh;
}

aside.container{
    height: calc(100vh - 350px);
}    
div.container {
    float: left;
    width: 60%;
    margin: 25px 0 0 25px;
    height: 80%;
}
.transparent{
    height: unset;
}
div.container ul{
    margin: auto;
    width: 80%;
    padding: 0;
}
div.container ul li{
    list-style: none;
    height: 2.7rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 4px 2px thistle;
    background: #003D66;
    padding: 0.8rem;
    margin: 1rem auto;
    width: 80%;
    text-align: center;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;

}
p.main-content {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.3rem;
    text-align: center;
}
a.main-content {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.3rem;
    text-align: center;
}
h1.main-content {
    text-align: center;
}
@media screen and (max-width:1024px){
    .page-nav{
        float: right;
        padding: 0;
        margin: 0;
        color: #FCFCFC;
    }
    .page-nav ul{
        padding: 0;
    }
    aside.container{
        height: calc(100vh - 350px);
    }    
    div.container {
        float: left;
        width: 60%;
        margin: 25px 0 0 25px;
        height: 80%;
    }
    .transparent{
        height: unset;
    }
    div.container ul{
        margin: auto;
        width: 50%;
        padding: 0;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        box-shadow: 2px 2px 4px 2px thistle;
        background: #003D66;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 14rem;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 1.3rem;
        margin: 0.5rem;
        padding: 0.3rem;
        text-align: center;
    }
    a.main-content {
        font-size: 1.4rem;
        text-align: center;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:740px){
    
    aside.container{
        height: unset;
    }
    div.container {
        float: left;
        width: 60%;
        margin: 25px 0 0 25px;
        height: 80%;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        background: #003D66;
        box-shadow: 2px 2px 4px 2px thistle;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 14rem;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    a.main-content {
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem auto;
        padding: 0.4rem;
        width: 50%;
        font-weight: 600;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:480px){
    #header{
        height: auto;
    }
    .page-title{
        float: none;
    }
    .page-title h1{
        font-size: 1.5rem;
        margin: 0.3rem;
        width: unset;
        text-align: unset;
        padding: 5px;
    }
    aside.container{
        height: unset;
    }
    div.container {
        float: none;
        width: 80%;
        margin: 10px auto;
        height: 80%;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        background: #003D66;
        box-shadow: 2px 2px 4px 2px thistle;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 80%;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    a.main-content {
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem auto;
        padding: 0.4rem;
        width: 50%;
        font-weight: 600;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:380px){
    .usermenu{
        /* display: none; */
        height: 100vh;
        width: 100vw;
        background: rgba(13, 47, 70, 0.473);
    }
    .usermenu ul{
        margin: 0;
        padding: 10px;
    }
    div.userheader{
        color: #FCFCFC;
        height: 35px;
        background: rgba(13, 47, 70, 0.473);
        margin: 0 0 10px 0;
        padding: 10px;
        position: relative;
    }
    #composeicon{
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 30px;
    }
    #inboxicon{
        position: absolute;
        left: 15px;
        top: 5px;
        font-size: 30px;
    }
    .userheader p{
        margin: 0;
        padding: 0;
    }
    div.usermail{
        color: #FCFCFC;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100vw;
    }
    .usermail ul{
        margin: 0;
        padding: 0;
        width: 90%;        
    }
    .maillist{
        background-color: rgba(13, 47, 70, 0.473);
        list-style: none;
        border-bottom: solid 3px #FCFCFC;
        border-top: solid 1px #FCFCFC;
        border-radius: 4px;      
        padding: 10px;
        height: 45px;
        width: 90%;
        margin: 0 0 5px 0;
    }

    .senderid{
        font-size: 20px;
    }
    .mailsubject{
        font-size: 24px;
    }
    #header{
        height: auto;
    }
    .page-title{
        float: none;
    }
    aside.container{
        height: unset;
    }    
    div.container {
        float: none;
        width: 80%;
        margin: 10px auto;
        height: 80%;
    }
    div.container ul {
        margin: 0.5rem;
        width: 90%;
        padding: 0.5rem;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        box-shadow: 2px 2px 4px 2px thistle;
        background: #003D66;
        padding: 0.6rem;
        margin: 0.6rem auto;
        width: 80%;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    a.main-content {
        font-size: 1rem;
        text-align: center;
        margin: 0.5rem auto;
        padding: 0.4rem;
        width: 50%;
        font-weight: 600;
    }
    h1.main-content {
        text-align: center;
    }
}