.page-title {
    float: left;
    padding: 0.5rem;
}

.page-nav{
    float: right;
    padding: 0 20px 0 0;
    margin: 0;
    color: #FCFCFC;
}

.main-banner{
    height: calc(100vh - 150px);
}

aside.container{
    height: calc(100vh - 350px);
}    
div.container {
    float: left;
    width: 60%;
    margin: 25px 0 0 25px;
    height: calc(100vh - 180px);
}
.transparent{
    height: unset;
}
div.container ul{
    margin: auto;
    width: 80%;
    padding: 0;
}
div.container ul li{
    list-style: none;
    height: 2.7rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 4px 2px thistle;
    background: #003D66;
    padding: 0.8rem;
    margin: 1rem auto;
    width: 80%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;

}
p.main-content {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.3rem;
    text-align: center;
}
h1.main-content {
    text-align: center;
}
@media screen and (max-width:1024px){
    .page-nav{
        float: right;
        padding: 0 20px 0 0;
        margin: 0;
        color: #FCFCFC;
    }
    aside.container{
        height: calc(100vh - 350px);
    }    
    div.container {
        float: left;
        width: 60%;
        margin: 25px 0 0 25px;
        height: calc(100vh - 350px);
    }
    .transparent{
        height: unset;
    }
    div.container ul{
        margin: auto;
        width: 50%;
        padding: 0;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        box-shadow: 2px 2px 4px 2px thistle;
        background: #003D66;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 14rem;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 1.3rem;
        margin: 0.5rem;
        padding: 0.3rem;
        text-align: center;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:740px){
    
    aside.container{
        height: unset;
    }
    div.container {
        float: left;
        width: 60%;
        margin: 25px 0 0 25px;
        height: calc(100vh - 350px);
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        background: #003D66;
        box-shadow: 2px 2px 4px 2px thistle;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 14rem;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:480px){
    .page-title h1{
        font-size: 1.5rem;
        margin: 0.3rem;
        width: unset;
        text-align: unset;
        padding: 5px;
    }
    aside.container{
        height: unset;
    }
    div.container {
        float: none;
        width: 80%;
        margin: 10px auto;
        height: calc(100vh - 350px);
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        background: #003D66;
        box-shadow: 2px 2px 4px 2px thistle;
        padding: 0.6rem;
        margin: 0.8rem auto;
        width: 80%;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    h1.main-content {
        text-align: center;
    }
}

@media screen and (max-width:380px){
    aside.container{
        height: unset;
    }
    div.container {
        float: none;
        width: 80%;
        margin: 10px auto;
        height: calc(100vh - 350px);
    }
    div.container ul {
        margin: 0.5rem;
        width: 90%;
        padding: 0.5rem;
    }
    div.container ul li{
        list-style: none;
        height: 1.3rem;
        border-radius: 0.4rem;
        box-shadow: 2px 2px 4px 2px thistle;
        background: #003D66;
        padding: 0.6rem;
        margin: 0.6rem auto;
        width: 80%;
        overflow: hidden;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

    }
    p.main-content {
        font-size: 0.9rem;
        text-align: center;
    }
    h1.main-content {
        text-align: center;
    }
}